body {
    padding: 0;
    margin: 0;
}
div.main,div.container {
    width: 100%;
    float: left;
    padding: 0;
    margin: 0;
}
div.home_top {
    width: 100%;
    float: left;
    padding: 0;
    margin: 0;
    background-color: #000000;
}
div.home_top div.top_img {
    width: 100%;
    float: left;
    height: 39px;
    background:url("/images/head/home_bg2.png") no-repeat 0 0 transparent;
}
div.home_top div.middel_img {
    position: relative;
    width: 80%;
    margin: 0 auto;
    height: 400px;
}
div.home_top div.middel_img img {
    width: 100%;
    height: 90%;
    float: left;
    border: none;
}
div.home_top div.middel_img div.top_bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 101;
    width: 100%;
    height: 145px;
    background:url("/images/head/home_top.png") no-repeat 0 -90px transparent;
}
div.home_middel {
    float: left;
    width: 100%;
    background-color: #dadad9;
}
div.home_middel div.home_middel_main {
    float: left;
    width: 100%;
    background:url("/images/head/top_bottom.png") repeat-x 0 0 transparent;
}
div.home_middel div.home_middel_main div.home_middel_middel_mian {
    margin: 0 auto;
    width: 1024px;
    min-width: 1024px;
}
div.home_middel div.home_middel_main div.home_middel_middel {
    height: 45px;
    border: 1px solid #9b91ff;
}
div.home_middel div.home_middel_main div.home_middel_middel ul {
    margin: 0;
    padding: 0;
    float: left;
    width: 100%;
}
div.home_middel div.home_middel_main div.home_middel_middel ul li {
    float: left;
    list-style: none;
}
div.home_middel div.home_middel_main div.home_middel_middel ul li a.menus_title {
    font-size: 20px;
    padding: 12px 13px 11px 15px;
    float: left;
    color: #aeaeae;
    text-decoration: none;
}
div.home_middel div.home_middel_main div.home_middel_middel ul li a.menus_title:hover {
    color: #fff;
}
div.home_middel div.home_middel_main div.home_middel_middel ul li.home_search {
    background: url("/images/head/home_bg2.png") repeat scroll -756px -249px transparent;
    margin-right: 20px;
    height: 25px;
    margin-top: 10px;
    position: relative;
    float: right;
    width: 200px;
}

div.home_middel div.home_middel_main div.home_middel_middel ul li.home_search_over {
    background-position: -756px -286px;
}

ul li.home_search input.search_value {
    border: medium none;
    color: #AAAAAA;
    float: left;
    font-size: 13px;
    height: 20px;
    margin-left: 7px;
    margin-top: 2px;
    padding: 1px 5px;
    width: 146px;
    background-color: #3b3636;
}
div.home_middel div.home_middel_main div.home_middel_middel ul li.home_search_over input.search_value {
    background-color: #fff;
}

ul li.home_search input.submit {
    background: url("/images/head/home_bg2.png") repeat scroll -128px -249px transparent;
    border: medium none;
    cursor: pointer;
    float: left;
    height: 20px;
    padding: 12px;
    width: 20px;
}
div.home_middel div.home_middel_main div.home_middel_middel ul li.home_search_over input.submit {
    /*background-position: -440px -249px;*/
}
div.home_middel div.home_middel_main div.home_middel_middel ul li.loginr {
    float: right;
    margin-right: 10px;
    margin-top: 12px;
}
div.home_middel div.home_middel_main div.home_middel_middel ul li.loginr a {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 13px;
    color: #AEAEAE;
}
div.home_middel div.home_middel_main div.home_middel_middel ul li.loginr a:hover {
    font-size: 13px;
    font-weight: 100;
    color: #fff;
    text-decoration: none;
}

ul li.dy_sort {
    /*border: 1px solid #1B1B1B;*/
    border-bottom: none;
    border-top: none;
}
div.home_middel div.home_middel_main div.home_middel_middel ul li.show_sort {
    position: relative;
    background-color: #FFF;
    border: 1px solid #eee;
}
div.home_middel div.home_middel_main div.home_middel_middel ul li.show_sort a,div.home_middel div.home_middel_main div.home_middel_middel ul li.show_sort a:hover {
    color: #000;
    font-weight: 100;
}
div.home_middel div.home_middel_main div.home_middel_middel ul li.show_sort a.menus_title {
    font-weight: 100;
    font-size: 20px;
}
ul  li.show_sort a,ul li.show_sort a:hover{
    background-color: #FFF;
    color: #000;
}
ul  li.dy_sort div.dy_type_list{
    display: none;
    position: absolute;
    left: -1px;
    top: 35px;
    height: 100px;
    width: 655px;
    background:none repeat scroll 0 0 #FFFFFF;
    z-index: 1000;
    border: 1px solid #eee;
    border-top: none;
    opacity:1;
}
ul li.dy_sort div.dy_type_list table {
    margin: 10px;
    width: 97%;
    opacity:1;
}
ul li.dy_sort div.dy_type_list table tr th,ul  li.dy_sort div.dy_type_list table tr td {
    border: none;
    line-height: 10px;
}
ul li.dy_sort div.dy_type_list table tr td a.active {
    color: #0088CC;
}
ul li.dy_sort div.dy_type_list table tr td a{
    font-size: 13px;
}
ul li.dy_sort div.dy_type_list table tr td a:hover {
    color:#0088CC ;
    font-size:13px ;
}

ul li.username {
    position: relative;
    padding-right: 20px;
    width: 90px;
    margin-top: 12px;
}
ul li.username a {
    font-size: 13px;
    color: #AEAEAE;
}
ul li.username a i {
    margin-top: 2px;
    margin-right: 5px;
}
ul li.username div.user_in{
    display: none;
    position: absolute;
    left: -1px;
    top: 0;
    background-color: #fff;
    height: 167px;
    /**height: 450%;*/
    width: 100%;
    border: 1px solid #eee;
    border-top: none;
    top: -12px;
    z-index: 1090;
}
ul li.username div.user_in table.table tr td {
    line-height: 5px;
    padding-left: 10px;
}
ul li.username div.user_in table.table tr td a {
    color: #333;
    float: left;
}
div.user_in table.table {
    margin-left: 0;
    margin-bottom: 0;
}
div.user_in table.table tr td {
    border-top: 1px solid #ddd;
}
ul li a.icon-envelope {
    margin-left: 7px;
}

div.home_middel div.home_middel_main div.home_middel_dy_list {
    float: left;
    position: relative;
    width: 100%;
}
div.home_middel div.home_middel_main div.home_middel_dy_list div.tag {
    background: url("/images/head/home_bg2.png") repeat scroll -768px -338px transparent;
    height: 62px;
    left: -85px;
    position: absolute;
    top: 20px;
    width: 100px;
}
div.home_middel div.home_middel_main div.home_middel_dy_list div.will {
    background-position: -768px -411px;
}
div.home_middel div.home_middel_main div.home_middel_dy_list div.class {
    background-position: -768px -483px;
}
div.home_middel div.home_middel_main div.home_middel_dy_list ul {
    padding-left: 0;
    margin-left: 0;
    width: 100%;
    float: left;
}
div.home_middel div.home_middel_main div.home_middel_dy_list ul li {
    background: url("/images/head/home_bg2.png") repeat scroll -587px -333px transparent;
    float: left;
    height: 200px;
    list-style: none outside none;
    margin: 20px 12px 0;
    padding: 10px;
    width: 125px;
}
div.home_middel div.home_middel_main div.home_middel_dy_list ul li img {
    float: left;
    width: 100%;
    height: 75%;
}
div.home_middel div.home_middel_main div.home_middel_dy_list ul li div.dy_title {
    float: left;
    height: 20px;
    margin-top: 5px;
    overflow: hidden;
    width: 100%;
}

ul li.home_search div.about_search {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-color: -moz-use-text-color #AAAAAA #AAAAAA;
    border-image: none;
    border-right: 1px solid #AAAAAA;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    display: none;
    left: 9px;
    overflow: hidden;
    position: absolute;
    top: 24px;
    width: 171px;
    z-index: 99999;
}
ul li.home_search div.about_search span {
    color: #999999;
    cursor: pointer;
    float: left;
    margin: 5px 3px;
    padding-left: 10px;
    width: 91%;
}

ul li.home_search div.about_search span.mouse_hover {
    background-color: #eee;
    color: #0088cc;
}

.footer {
    float: left;
    margin-top: 0;
    width: 100%;
}