.login_ui{
    display: none;
    position: fixed;
    border: 6px solid #7c7c7c;
    width: 600px;
    /*opacity: 0.5;*/
    background-color: #dedede;
    z-index: 1000100000;
}
.login_ui table{
    width: 100%;
    padding: 10px;
    background: none;
}
.login_ui .login_ui_title{
    width: 95%;
    margin-top: 10px;
}
.login_ui .login_ui_title table{
    padding: 5px 10px;
    background-color:#dedede;
    margin-left: 10px;
}
.login_ui .login_ui_title table tr td.l_t{
    text-align: left;
    font-weight: bold;
}
.login_ui .login_ui_title table tr td.l_c{
    text-align: right;
    cursor: pointer;
    width: 25px;
    height: 25px;
    background: url("/images/Login/close2.png") no-repeat scroll 0 0 transparent;
}
.login_ui table tr.login_ui_title{
    border-bottom:1px solid #eee;
}

.login_ui .login_ui_table {
    width: 300px;
    margin-left:20px;
    float: left;
}
.login_ui .other_login {
    width: 250px;
}
.login_ui .other_login tr td.app_login {
    margin-bottom: 20px;
}
.login_ui .login_ui_table tr td.ui_error{
    text-align: center;
    font-size: 13px;
    color: red;
    width: 260px;
}
.login_ui .login_ui_table tr td{
    position: relative;
    float: left;
}
.login_ui .login_ui_table tr td.haoba_account {
    color: #666;
}
.login_ui .login_ui_table tr td label{
    color: #6F6F6F;
    font-size: 16px;
    left: 40px;
    position: absolute;
    top: 20px;
}
.login_ui .login_ui_table tr td span{
    position: absolute;
    left: 12px;
    top:20px;
}
.login_ui .login_ui_table tr td span.username_icon{
    position: absolute;
    z-index: 10;
    background: url("/images/Login/login3.png") no-repeat scroll 0 -107px transparent;
    width: 30px;
    height: 25px;
}
.login_ui .login_ui_table tr td span.username_icon_over{
    background: url("/images/Login/login3.png") no-repeat scroll 0 -131px transparent;
}
.login_ui .login_ui_table tr td span.password_icon{
    position: absolute;
    z-index: 10;
    background: url("/images/Login/login3.png") no-repeat scroll 0 -155px transparent;
    width: 30px;
    height: 25px;
}
.login_ui .login_ui_table tr td span.password_icon_over{
    background: url("/images/Login/login3.png") no-repeat scroll -1px -177px transparent;
}
.login_ui .login_ui_table tr td.user_input{
    width: 260px;
    height: 51px;
}
.login_ui .login_ui_table tr td.ui_u{
    width: 50px;
    text-align: right;
}
.login_ui .login_ui_table tr td.ui_p{
    width: 50px;
    text-align: right;
}
.login_ui .login_ui_table tr td input.username,.login_ui .login_ui_table tr td input.password{
    position: absolute;
    border: medium none;
    font-size: 22px;
    height: 47px;
    line-height: 50px;
    margin: 5px;
    padding: 2px 5px 2px 32px;
    text-align: left;
    width: 213px;
    background: url("/images/Login/login3.png") no-repeat scroll 0 -52px transparent;
}
.login_ui .login_ui_table tr td input.input_over{
    background: url("/images/Login/login3.png") no-repeat scroll 0 0 transparent;
}
.login_ui .login_ui_table tr td.ui_login{
    text-align: center;
    font-size: 13px;
    width: 260px;
}
.login_ui .login_ui_table tr td input.submit{
    cursor: pointer;
    color: #fff;
    width: 250px;
    height: 40px;
    border: none;
    color: #fff;
    font-weight: bold;
    background: url("/images/Login/login.png") no-repeat scroll 0 0 transparent;
}
.login_ui .login_ui_table tr td input.submit_over{
    background: url("/images/Login/login.png") no-repeat scroll 0 -50px transparent;
}
.login_ui .login_ui_table tr td.ui_remember input{
    padding: 0;
    margin:1px 2px 0 5px;
}
.login_ui .login_ui_table tr td.ui_remember{
    color: #999;
    font-size: 13px;
    margin: 10px 0;
    *padding: 10px 0;
}
.login_ui .login_ui_table tr td.ui_remember a{
    margin-left: 60px;
    color: #0088cc;
}
.login_ui .login_ui_other{
    float: left;
    margin: auto auto auto 27px;
    padding: 0 10px;
    width: 252px;
}
tr td a:hover {
    text-decoration: underline;
}
div.login_middel_line {
    background: none repeat scroll 0 0 #DADADA;
    border-right: 1px solid #EEEEEE;
    float: left;
    height: 260px;
    width: 1px;
}
.login_ui .login_ui_other table tr.login_ui_border{
    text-align: center;
    font-size: 13px;
}
.login_register_all {
    background-color: #EEEEEE;
    display: none;
    height: 100%;
    left: 0;
    filter:alpha(Opacity=50);
    -moz-opacity:0.5;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10000;
}
/* 第三方登录接口 start */
a.qq_login {
    background: url("/images/appicon/app_login_icon.png") no-repeat scroll -2px -438px transparent;
    font-size: 16px;
    font-weight: bold;
    height: auto;
    line-height: 60px;
    padding: 36px 120px 26px 90px;
    position: relative;
    float: left;
}
a.qq_login:hover {
    background-position: -213px -438px;
}
a.weibo_login {
    background: url("/images/appicon/app_login_icon.png") no-repeat scroll -2px -375px transparent;
    font-size: 16px;
    font-weight: bold;
    height: auto;
    line-height: 60px;
    padding: 36px 120px 26px 90px;
    position: relative;
    float: left;
}
a.weibo_login:hover {
    background-position: -213px -375px;
}
a.renren_login {
    background: url("/images/appicon/app_login_icon.png") no-repeat scroll -2px -564px transparent;
    font-size: 16px;
    font-weight: bold;
    height: auto;
    line-height: 60px;
    padding: 36px 120px 26px 90px;
    position: relative;
    float: left;
}
a.renren_login:hover {
    background-position: -213px -564px;
}
/* 第三方登录接口 end */