div.password {
    width: 1000px;
    margin: 0 auto;
    margin-top: 40px;
}
div.password label {
    color: #666;
}
div.password input.text {
    width: 300px;
    height: 35px;
    padding: 2px 5px;
    line-height: 20px;
    border: 1px solid #aaa;
    font-size: 17px;
}
div.password button {
    background: -moz-linear-gradient(center top , #649DE0, #487DD5 50%, #4070D0 50.1%, #3467CC) repeat scroll 0 0 transparent;
    border: 1px solid #3282D0;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    color: #EEEEEE;
    cursor: pointer;
    font-size: 20px;
    height: 40px;
    line-height: 34px;
    padding: 0 5px;
    width: 85px;
}