div.main{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
div.content {
    background-color: #FFFFFF;
    border: 1px solid #AAAAAA;
    float: left;
    margin: 40px auto 0;
    padding: 25px 19px 60px 14px;
    width: 96%;
}
div.error_img {
    width: 800px;
    margin:0 auto;
}
div.error_img i {
    background: url("/images/common/publish.png") no-repeat scroll -200px -275px transparent;
    float: left;
    height: 21px;
    width: 20px;
}

div.error_mes {
    float: left;
    margin-top: 10px;
}
div.error_mes span {
    font-size: 15px;
    color: #0088cc;
}
a {
    color: #0054AF;
    text-decoration: none;
}
a.login_url {
    background: url("/images/common/publish.png") no-repeat scroll 1px -60px transparent;
    float: left;
    height: 50px;
    margin-top: 20px;
    width: 182px;
}
div.other {
    float: left;
    width: 100%;
    margin-top: 50px;
}
div.other table {
    float: left;
    width: 100%;
}
div.other table tr th,div.other table tr td {
    text-align: left;
    padding-top: 10px;
}
