div.container {
    margin-top: 50px;
}
div.home_top {
    position: relative;
    float: left;
    width: 100%;
    min-width: 1024px;
    height: 455px;
    overflow: hidden;
    white-space: nowrap;
}
div.home_top ul {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #000;
}
div.home_top ul li {
    cursor: pointer;
    float: left;
    list-style: none;
    height: 150px;
    width: 7%;
    background-color: #fff;
    padding: 1px;
    /*border-left: none;*/
    /*border-bottom: none;*/
    position: relative;
    filter:alpha(Opacity=50);
    -moz-opacity:0.5;
    opacity: 0.5;
}
div.home_top ul li:hover {
    filter:alpha(Opacity=100);
    -moz-opacity:1;
    opacity: 1;
}
div.home_top ul li.top_last_li {
    width: 95px;
}
div.home_top ul li a {
    float: left;
    width: 100%;
    height: 100%;
}
div.home_top ul li a:hover {
    box-shadow: 1px 1px 8px rgba(0,0,0,0.4);
}
div.home_top ul li.li_over {
    filter:alpha(Opacity=50);
    -moz-opacity:0.5;
    opacity: 0.5;
}
div.home_top ul li.li_over_current {
    border: 1px solid #08A6CD;
}
div.home_top ul li a img {
    float: left;
    width: 100%;
    height: 100%;
}
/* 电影总数样式 start */
div.movie_count_main {
    float: left;
    width: 100%;
}
div.count_real {
    float: right;
    margin-top: 10px;
    margin-right: 20px;
    font-size: 15px;
    color: #444444;
    font-family: "楷体";
    font-weight: bold;
}
div.count_real em {
    color: #08A6CD;
    font-style: normal;
}
/*电影总数样式 end*/
div.home_middel_main {
    width: 1200px;
    margin: 20px auto;
}
div.movice_info_list {
    width: 100%;
    margin-top: 20px;
    float: left;
}
div.movice_info_list div.title {
    width: 100%;
    float: left;
}
div.movice_info_list div.title h2 a {
    color: #08a6cd;
    font-size: 30px;
    text-decoration: none;
    font-family: "Microsoft YaHei";
    font-weight: 100;
}
div.movice_info_list div.info_list {
    float: left;
}
div.movice_info_list div.info_list ul {
    padding: 0;
    float: left;
    margin: 0 5px;
}
div.movice_info_list div.info_list ul li {
    float: left;
    list-style: none;
    background-color: #f8f8f8;
    width: 138px;
    height: 180px;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
}
div.movice_info_list div.info_list ul li.other_li {
    box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
}
div.movice_info_list div.info_list ul li.other_li:hover {
    box-shadow: 1px 1px 8px rgba(0,0,0,0.4);
    padding: 12px;
    margin: 3px;
}
div.movice_info_list div.info_list ul li.first_one_li {
    width: 305px;
    height: 392px;
    margin-right: 6px;
}
div.movice_info_list_list div.info_list ul li.first_one_li:hover {
    box-shadow: 1px 1px 8px rgba(0,0,0,0.4);
    padding: 12px;
    margin: 3px;
    margin-right: 4px;
}
div.movice_info_list div.info_list ul li.first_one_li p {
    width: 302px;
    float: left;
    height: 20px;
    overflow: hidden;
    margin-top: 5px;
    color: #999;
    font-size: 14px;
}
div.movice_info_list div.info_list ul li.first_one_li p.first_zhuyan {
    white-space:nowrap;
}
div.movice_info_list div.info_list ul li.first_one_li p a {
    text-decoration: none;
    color: #999;
}
div.movice_info_list div.info_list ul li.first_one_li p a:hover {
    color: #08a6cd;;
}
div.movice_info_list div.info_list ul li.first_one_li p.first_name {
    height: 30px;
}
div.movice_info_list div.info_list ul li.first_one_li p.first_name a {
    font-size: 22px;
    color: #666;
}
div.movice_info_list div.info_list ul li.first_one_li p.first_name a.dy_type  {
    font-size:15px;
    margin-left: 20px;
}
div.movice_info_list div.info_list ul li.first_one_li p.first_jieshao {
    height: 60px;
    line-height: 20px;
}
div.movice_info_list div.info_list ul li.first_one_li a.first_img {
    width: 302px;
    height: 265px;
    overflow: hidden;
    display: block;
    float: left;
    background-color: #fff;
}
div.movice_info_list div.info_list ul li.first_one_li a.first_img img {
    width: 100%;
    /*height: 100%;*/
    float: left;
}

div.movice_info_list div.info_list ul li a.img {
    float: left;
    width: 140px;
    height: 130px;
    background-color: #fff;
    overflow: hidden;
    display: block;

}
div.movice_info_list div.info_list ul li a.img img {
    width: 100%;
    height: 100%;
    float: left;
}
div.movice_info_list div.info_list ul li a.img_today {
    height: 220px;
}
div.movice_info_list div.info_list ul li p {
    float: left;
    height: 20px;
    line-height: 20px;
    width: 140px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    padding-top: 3px;
}
div.movice_info_list div.info_list ul li p.zhuyan {
    margin-top: 1px;
    color: #999;
}
div.movice_info_list div.info_list ul li p a {
    text-decoration: none;
}
div.movice_info_list div.info_list ul li p span.topic_count {
    color: #999;
}
div.movice_info_list div.info_list ul li p span.topic_count em {
    font-style: normal;
    color: #FF5C38;
}
div.movice_info_list div.info_list ul li p.name a {
    font-size: 14px;
    color: #595959;
}
div.movice_info_list div.info_list ul li p.zhuyan a,div.movice_info_list div.info_list ul li p.s_j {
    font-size: 13px;
    color: #969595;
}
/*今天推荐*/
div.today_list {
    width: 100%;
    float: left;
    margin-top: 20px;
}
div.today_list ul li {
    float: left;
    background-color: #eee;
    margin-right: 5px;
    width: 200px;
    height: 200px;
}
div.movice_info_list div.info_list ul li.today_info_li {
    position: relative;
    overflow: hidden;
    height: 220px;
}
div.movice_info_list div.info_list ul li.today_info_li:hover {
    box-shadow: 1px 1px 8px rgba(0,0,0,0.4);
}
div.movice_info_list div.info_list ul li.today_info_li p.today_name {
    height: 50px;
    left: 10px;
    padding: 6px;
    position: absolute;
    top: 170px;
    width: 130px;
    z-index: 100;
    filter:alpha(Opacity=60);
    -moz-opacity:0.6;
    opacity: 0.6;
    padding: 5px;
    background-color: #000;
}
div.movice_info_list div.info_list ul li p.today_name a {
    float: left;
    font-size: 13px;
    margin-bottom: -3px;
    color: #fff;
}
div.movice_info_list div.info_list ul li p.today_name a.t_search {
    margin-top: 2px;
    width: 100%;
    color: #fff;
}
div.movice_info_list div.info_list ul li p.today_name a.t_zhuyan {
    margin-right: 3px;
    color: #969595;
}
div.movice_info_list div.info_list ul li p.today_name a.t_zhuyan:hover {
    color: #08a6cd;
}
div.movice_info_list div.info_list ul li p.today_name a.t_name {
    height: 20px;
    overflow: hidden;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    width: 100%;
}
div.movice_info_list div.info_list ul li:hover p.today_name a.t_name {
    color: #08A6CD;
}
div.movice_class_info_list div.info_list {
    width: 860px;
}

div.movice_info_list div.info_list ul li.first_one_li:hover p.first_name a.name,
div.movice_info_list div.info_list ul li.other_li:hover p.name a,
div.movice_info_list_list div.info_list ul li.first_one_li p.first_name a:hover,
div.movice_info_list div.info_list ul li.other_li p a:hover {
    color: #08A6CD;
}
/*经典电影类型列表 start*/
div.movice_class_info_list div.info_list ul li.first_one_li {
    width: 138px;
    height: 392px;
    background: url("/images/common/jianbian.png") repeat-x 0 0 transparent;
    border-top: none;
}
div.movice_class_info_list div.info_list ul li.first_one_li div {
    float: left;
    width: 100%;
    float: left;
    /*margin-bottom: 15px;*/
    margin-top: 3px;
    width: 100%;
}
div.movice_class_info_list div.info_list ul li.first_one_li div.sort_type {
    margin-top: 3px;
}
div.movice_class_info_list div.info_list ul li.first_one_li div.sort_list {
    margin-bottom: 0;
    margin-top: 0;
}
div.movice_class_info_list div.info_list ul li.first_one_li div span {
    float: left;
    font-size: 14px;
}
div.movice_class_info_list div.info_list ul li.first_one_li div span.type_text {
    width: 100%;
    color: #a0a0a0;
}
div.movice_class_info_list div.info_list ul li.first_one_li div span.type_info a {
    float: left;
    color: #414141;
    margin-top: 5px;
    margin-right: 10px;
    text-decoration: none;
}
div.movice_class_info_list div.info_list ul li.first_one_li div span.type_info a:hover {
    color: #08A6CD;
}
/*经典电影类型列表 end*/

/*经典电影豆瓣top10列表 start*/
div.top_info_list {
    float: left;
    background-color: #fafafa;
    border: 1px solid #ccc;
    width: 300px;
    margin-left: 6px;
    margin-top: 5px;
}
div.top_info_list div.top_title {
    float: left;
    width: 280px;
    background: url("/images/common/jianbian.png") repeat-x 0 0 transparent;
    padding: 10px 10px 0 10px;
}
div.top_info_list span {
    float: left;
    width: 100%;
}
div.top_info_list div.top_title h1 {
    font-size: 15px;
    margin-top: 5px;
    float: left;
}
div.top_info_list span.top_name_list {
    height: 20px;
    overflow: hidden;
    margin-top: 10px;
    border-bottom:1px dashed #ddd;
}
div.top_info_list span.top_name_list:hover {
    cursor: pointer;
}
div.top_info_list span.top_name_list:hover a {
    color: #08A6CD;
}
div.top_info_list span.fisrt_s {
    color: #FF0000;
    float: left;
    font-size: 14px;
    margin-bottom: 5px;
    margin-left: 10px;
    width: 140px;
}
div.top_info_list span.fisrt_s em {
    font-style: normal;
    color: #666;
}
div.top_info_list span.top_jieshao {
    float: left;
    width: 145px;
    margin-left: 10px;
    font-size: 13px;
    height: 99px;
    overflow: hidden;
    color: #AAAAAA;
}
div.top_info_list div.top_get {
    background: url("/images/common/jianbian.png") repeat-x 0 0 transparent;
    float: left;
    width: 280px;
    padding: 0 10px 10px 10px;
}
div.top_info_list span.top_first_list {
    height: 127px;
    /*background-color: #eee;*/
    border-bottom: none;
    position: relative;
}
div.top_info_list span.last_one {
    border-bottom: none;
}
div.top_info_list span.top_first_list i {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 20px;
    font-style: normal;
    width: 119px;
    background: none repeat scroll 0 0 #000000;
    filter:alpha(Opacity=80);
    -moz-opacity:0.8;
    opacity: 0.8;
    padding: 3px;
}
div.top_info_list span.top_first_list i a,div.top_info_list span.top_first_list i a {
    font-size: 15px;
}
div.top_info_list span.top_first_list i a,div.top_info_list span.top_first_list i a:hover {
    float: left;
    width: 113px;
    height: 100%;
    overflow: hidden;
    color: #FFFFFF;
    line-height: 20px;
}
div.top_info_list span.top_first_list i a.name {
    width: 100%;
    max-width: 100%;
}
div.top_info_list span.top_first_list i em {
    float: left;
    font-style: normal;
    color: #FFFFFF;
    margin-right: 5px;
    float: right;
    font-size: 13px;
}
div.top_info_list span.top_name_list b {
    background: url("/images/common/shouye_new_sucai.png") no-repeat scroll -237px -9px transparent;
    float: left;
    height: 15px;
    width: 20px;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    line-height: 15px;
}
div.top_info_list span.top_name_list b.last {
    background: none;
    border: 1px solid #999;
    color: #666;
}
div.top_info_list span.top_name_list a {
    float: left;
    margin-left: 5px;
    height: 20px;
    max-width: 60%;
    overflow: hidden;
    font-size: 13px;
    color: #414141;
    text-decoration: none;
    white-space: nowrap;
    line-height: normal !important;
    line-height: 20px;
}
div.top_info_list span.top_first_list a {
    margin-left: 0;
}
div.top_info_list span.top_first_list b {
    background: url("/images/common/shouye_new_sucai.png") no-repeat scroll -201px -9px transparent;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: bold;
    height: 36px;
    left: 0;
    line-height: 27px;
    position: absolute;
    text-align: center;
    top: -2px;
    width: 25px;
}
div.top_info_list span.top_name_list i.score {
    font-style: normal;
    font-size: 13px;
    color: #FF5C38;
    float: right;
}
div.top_info_list span.top_name_list i.score em {
    font-style: normal;
    color: #aaa;
}
div.top_info_list span.top_name_list a:hover {
    color: #08A6CD;
}
div.top_info_list span.top_name_list a.first_top:hover {
    box-shadow: 2px 2px 3px #ddd;
}
div.top_info_list span.top_name_list a.first_top,div.top_info_list span.top_name_list a.first_top img {
    float: left;
    width: 125px;
    height: 100%;
}
div.top_info_list div.top_title div.top_tab {
    float: right;
    border-right: 1px solid #dbdbdb;
}
div.top_info_list div.top_title em {
    float: left;
    font-size: 13px;
    line-height: 25px;
    font-style: normal;
}
div.top_info_list div.top_title em a {
    float: left;
    padding: 1px 7px;
    text-decoration: none;
    color: #989898;
    border-style: solid none solid solid;
    border-color: #dbdbdb;
    border-width: 1px medium 1px 1px;
}
div.top_info_list div.top_title em a.current {
    background-color: #08A6CD;
    color: #fff;
}
/*经典电影豆瓣top10列表 end*/
/*摇摇朦胧效果 start*/
div.home_yaoyao_main {
    display: none;
    width: 100%;
    position: absolute;
    height: 3500px;
    top: 0;
    left: 0;
    filter:alpha(Opacity=50);
    -moz-opacity:0.5;
    opacity: 0.5;
    z-index: 1092;
    background-color: #000;
}
div.yaoyao_movice_info {
    padding: 10px;
    position: absolute;
    z-index: 20020;
    border: 5px solid #444;
    width: 700px;
    height: 300px;
    left: 300px;
    top: -330px;
    background-color: #111;
}
div.yaoyao_movice_info div.yaoyao_movice_info_img {
    float: left;
    width: 200px;
    height: 300px;
    background-color: #fff;
}
div.yaoyao_movice_info div.yaoyao_movice_info_img a {
    float: left;
    width: 100%;
    height: 100%;
}
div.yaoyao_movice_info div.yaoyao_movice_info_img a img {
    float: left;
    width: 100%;
    height: 100%;
}
div.yaoyao_movice_info div.yaoyao_movice_info_list {
    color: #fff;
    float: left;
    width: 480px;
    margin-left: 20px;
    height: 270px;
}
div.yaoyao_movice_info div.yaoyao_movice_info_list table {
    width: 100%;
    float: left;
}
div.yaoyao_movice_info div.yaoyao_movice_info_list table tr {
    float: left;
    width: 100%;
    text-align: left;
    /*margin-bottom: 10px;*/
}
div.yaoyao_movice_info div.yaoyao_movice_info_list table tr td {
    font-size: 14px;
    color: #CCCCCC;
    float: left;
    padding: 5px 0;
    width: 475px;
    overflow: hidden;
}
div.yaoyao_movice_info div.yaoyao_movice_info_list table tr td.movice {
    white-space: nowrap;
}
div.yaoyao_movice_info div.yaoyao_movice_info_list table tr td span {
    color: #999;
}
div.yaoyao_movice_info div.yaoyao_movice_info_list table tr td.jieshao {
    height: 70px;
    line-height: 25px;
    width: 470px;
    overflow: hidden;
}
div.yaoyao_movice_info div.yaoyao_movice_info_list table tr th {
    float: left;
    width: 100%;
    font-size: 25px;
}
div.yaoyao_movice_info div.yaoyao_movice_info_list table tr th a {
    color: #fff;
    float: left;
    text-decoration: none;
}
div.yaoyao_movice_info div.yaoyao_movice_info_list table tr td a {
    color: #CCCCCC;
    text-decoration: none;
}
div.yaoyao_movice_info div.yaoyao_movice_info_list table tr td a.play_now {
    width: 150px;
    float: left;
    height: 30px;
    background: url("/images/common/play_icon.png") no-repeat 1px -30px transparent;
}
div.yaoyao_movice_info div.yaoyao_movice_info_list table tr td a.play_now:hover {
    background-position: 1px 0;
}
div.yaoyao_movice_info div.yaoyao_movice_info_list table tr td span.yaoyao_again {
    color: #08A6CD;
    cursor: pointer;
    float: left;
    font-size: 14px;
    margin-left: 150px;
    margin-top: 5px;
}
div.yaoyao_movice_info div.yaoyao_movice_info_list table tr th span.close_yaoyao {
    background: url("/images/Login/close2.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 25px;
    text-align: right;
    width: 25px;
    float: right;
}
/*摇摇朦胧效果 end*/
/*中间索引条 start*/
div.type_main {
    float: left;
    width: 1200px;
    margin-top: 40px;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #08A6CD #D0D0D0 #D0D0D0;
    border-image: none;
    border-radius: 5px 5px 5px 5px;
    border-right: 1px solid #D0D0D0;
    border-style: solid;
    border-width: 2px 1px 1px;
    height: 130px;
}
div.tab_type_list {
    float: left;
    background:url("/images/head/ico_movie_bg.png") 0 -200px;
    background-repeat: repeat-x;
    border: 1px solid #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    height: 128px;
    padding: 0 8px;
}
div.tab_type_list div.list_type {
    float: left;
    display: inline;
    float: left;
    font-size: 14px;
    margin-left: 6px;
    margin-top: 33px;
    position: relative;
    width: 372px;
}
div.tab_type_list div.list_place {
    width: 193px;
}
div.tab_type_list div.list_type span.type_type {
    color: #08A6CD;
    display: inline-block;
    font-size: 18px;
    height: 26px;
    left: 0;
    line-height: 22px;
    position: absolute;
    text-align: center;
    top: -28px;
    width: 66px;
}
div.tab_type_list div.list_type ul {
    float: left;
    overflow: hidden;
}
div.tab_type_list div.list_type ul li {
    border-left: 1px solid #DFDFE0;
    float: left;
    margin-left: -1px;
    padding: 0 4px;
    width: 56px;
}
div.tab_type_list div.type_info ul li {
    width: 44px;
}
div.tab_type_list div.list_type ul li a {
    display: inline-block;
    height: 23px;
    line-height: 23px;
    margin: 0 0 4px;
    overflow: hidden;
    padding: 0 7px;
    color:#444444;
}
div.tab_type_list div.list_type ul li a:hover {
    border-radius: 2px;
    background-color: #08A6CD;
    color: #fff;
}
div.middel_line {
    background: none repeat scroll 0 0 #DADADA;
    border-right: 1px solid #FFFFFF;
    float: left;
    height: 100%;
    width: 1px;
}
/*中间索引条 end*/

/*系列专题 start */
div.movie_serial {
    float: left;
    width: 1200px;
    border: 1px solid #CCCCCC;
    height: 200px;
    background-color: #fafafa;
}
div.movie_serial div.title_list {
    float: left;
    width: 380px;
    padding: 20px;
    padding-right: 30px;
    background: url("/images/common/jianbian.png") repeat-x scroll 0 0 transparent;
}
div.movie_serial div.jiangxiang {
    width: 285px;
}
div.movie_serial div.title_list div.s_title {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}
div.movie_serial div.title_list div.s_title h1 {
    margin: 0;
    padding-right: 0;
    font-size: 24px;
    color: #444;
}
div.s_movie_list {
    float: left;
}
div.s_movie_list ul {
    float: left;
    width: 100%;
}
div.s_movie_list ul li {
    float: left;
    height: 30px;
}
div.s_movie_list ul li a {
    float: left;
    padding: 5px;
    color: #444;
}
div.s_movie_list ul li a:hover {
    color: #fff;
    background-color: #08A6CD;
    border-radius: 2px;
}
/*系列专题 end */