div.user_main {
    width: 1200px;
    margin: 40px auto;
}
div.row {
    margin: 0 auto;
    margin-top: 20px;
}
div.left_container {
    float: left;
    width: 190px;
    margin-top: 6px;
}

.side-boxer {
    position: relative;
}

.side-boxer * {
    overflow: visible;
}

.user-info {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    height: 83px;
    padding: 18px 0 0 22px;
    position: relative;
    width: 166px;
    z-index: 1;
}

.user-info img {
    border: 1px solid #B2B2B2;
    display: block;
    float: left;
    height: 56px;
    margin-top: 2px;
    width: 56px;
}

.user-info dl {
    float: left;
    line-height: 20px;
    padding-left: 12px;
    width: 85px;
}

dl, dt, dd {
    list-style: none outside none;
    overflow: hidden;
}

.side-menu {
    position: relative;
    z-index: 1;
}

.side-menu a.menu-item {
    background: url("/images/common/user_c.png") repeat-x scroll 0 -241px transparent;
    border: 1px solid #CCCCCC;
    color: #333333;
    display: block;
    font-size: 14px;
    height: 33px;
    margin-top: -1px;
    padding: 13px 0 0 22px;
    width: 166px;
}


.side-menu a.menu-item:hover {
    background: url("/images/common/user_c.png") repeat-x 0 -290px;
    color: #333;
    text-decoration: none;
}

.side-menu a.menu-focus, .side-menu a.menu-focus:hover {
    background: url("/images/common/user_c.png") repeat-x scroll 0 -339px transparent;
    border: 1px solid #59A20F;
    color: #FFFFFF;
    font-weight: bold;
    position: relative;
    z-index: 2;
}

a:link, a:visited, a:active {
    color: #0041D9;
    outline: medium none;
}

.side-menu .collection {
    background-position: 0 -20px;
}

.side-menu i {
    background: url("/images/common/user_c.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 14px;
    margin: 0 8px 0 0;
    vertical-align: middle;
    width: 14px;
}
.side-menu .recommend {
    background-position: 0 -40px;
}

.side-menu .manpropcond {
    background-position: 0 -80px;
}
.side-menu i.icon-edit {
    background-image: url("/images/icon/glyphicons-halflings.png");
    background-repeat: no-repeat;
    display: inline-block;
    height: 14px;
    line-height: 14px;
    background-position: -96px -72px;
    margin-right: 5px;
    margin-top: 2px;
    vertical-align: text-top;
    width: 14px;
}

.side-menu .ask {
    background-position: 0 -100px;
}

.side-menu a.menu-focus .arrow-icon {
    display: block;
}

.side-menu .arrow-icon {
    background: url("/images/common/user_c.png") no-repeat scroll -1px -220px transparent;
    display: none;
    font-size: 0;
    height: 11px;
    line-height: 0;
    position: absolute;
    right: 24px;
    top: 18px;
    width: 6px;
}

.side-boxer .shadow-boxer {
    border: 1px solid #CCCCCC;
    box-shadow: 2px 2px 2px #DDDDDC;
    height: 336px;
    left: 0;
    position: absolute;
    top: 0;
    width: 188px;
    z-index: 0;
}

.responsive-utilities-test li + li {
    margin-left: 0;
}

div.bs-docs-example {
    float: left;
    margin-top: 6px;
    border: none;
}

div.bs-docs-example div.user_image {
    float: left;
    width: 120px;
    height: 150px;
    position: relative;
    border: 1px solid #eee;
}

div.bs-docs-example div.user_image img {
    width: 100%;
    height: 120px;
}

div.user_image span {;
    background-color: #EEEEEE;
    bottom: 0;
    height: 30px;
    left: 0;
    line-height: 30px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 99;
    *left: -4px;
}

div.user_image input.image {
    position: absolute;
    opacity: 0;
    filter:alpha(Opacity=0);
    -moz-opacity:0;
    z-index: 101111;
    height: 50px;
    /*width: 200px;*/
    bottom: -1px;
    cursor: pointer;
}

div.user_image input.submit_button {
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 10px;
    height: 10px;
    text-align: center;
    z-index: 101;
    opacity: 0;
    filter:alpha(Opacity=0);
    -moz-opacity:0;
}

div.user_image  span.upload, div.user_image  span.cancel {
    width: 35px;
    display: none;
}

div.user_image  span.cancel {
    left: 60px;
}

div.doing {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 120px;
    height: 120px;
    z-index: 9999;
    background: url("/images/icon/move.gif") no-repeat scroll 50% 50% #FFFFFF;
    opacity: 0.6;
}

.right_container {
    float: left;
    margin-top: 6px;
    overflow: visible;
    text-align: left;
    width: 81%;
    margin-left: 2%;
}
.main-tab {
    border-left: 1px solid #CCCCCC;
    height: 39px;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 2;
    margin: 0 auto;
}
#usermain {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    margin-top: -1px;
    float: left;
    padding-bottom: 20px;
    width: 100%;
}
#usermain .show {
    margin: 0;
    padding: 25px 0 30px 24px;
    width: 95%;
    float: left;
}
.modbox2 {
    margin: 0 0 0 3px;
    overflow: visible;
    float: left;
    width: 100%;
}

.main-tab a:link, .main-tab a:visited, .main-tab a:active {
    color: #333333;
}
.main-tab .tab-focus, .main-tab .tab-focus:hover {
    background: url("/images/common/user_c.png") repeat-x scroll 0 -390px transparent;
    font-weight: bold;
}
.main-tab a {
    background: url("/images/common/user_c.png") repeat-x scroll 0 -474px transparent;
    border-right: 1px solid #CCCCCC;
    color: #333333;
    display: block;
    float: left;
    font-size: 14px;
    height: 39px;
    line-height: 39px;
    padding: 0 24px 0 25px;
}
.main-tab a:hover {
    background: url("/images/common/user_c.png") repeat-x scroll 0 -432px transparent;
    color: #333333;
    text-decoration: none;
}
.modbox2 {
    border: 1px solid #ddd;
}
.modbox2 table.table {
    width: 100%;
    float: left;
    margin-bottom: 0;
}
.modbox2 table.table tr th {
    background-color: #FFFDE3;
    height: 20px;
    text-align: center;
    border: none;
    color: #888888;
}
.modbox2 table.table tr td {
    text-align: center;
    font-size: 13px;
}
.modbox2 table.table tr td.name {
    width: 120px;
}

.modbox2 table.table tr td.daoyan {
    width: 80px;
}

.modbox2 table.table tr td.nianfen {
    width: 50px;
}
.modbox2 table.table tr td.type {
    width: 50px;
}
.modbox2 table.table tr td.shichang,.modbox2 table.table tr td.diqu {
    width: 50px;
}
.modbox2 table.table tr td.chose {
    width: 30px;
}
.modbox2 table.table tr td.action {
    width: 50px;
}
.modbox2 table.table tr th span.chose_all,.modbox2 table.table tr td.action span {
    color: #0088CC;
    cursor: pointer;
}
a.btn-info,a.btn-info:hover,a.btn-info:active,a.btn-info:visited {
    color: #fff;
    margin-top: 20px;
}
.bs-docs-example div.zhushi {
    float: left;
    width: 500px;
    margin-top: 70px;
    margin-left: 30px;
    color: #aaa;
}
table.change_pass_table {
    float: left;
    margin: 50px;
}
table.change_pass_table tr td code,table.edit_xheditor_table tr td code{
    background-color: #fff;
    border: none;
    color: #ff0000;
}
table.change_pass_table tr td {
    float: left;
    margin: 10px 0;
    *padding-top: 20px;
}
table.change_pass_table tr td.error_text {
    color: #ff0000;
    padding-left: 20px;
}
table.change_pass_table tr td input {
    margin: 0;
}
table.change_pass_table tr.submit td input {
    background: url("/images/Register/register.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
    height: 40px;
    width: 250px;
    margin-left: 72px;
}
.modbox2 table.table tr th.chose_all {
    width: 50px;
}
.modbox2 table.table tr th.action_do {
    width: 80px;
}
.modbox2 table.table tr th.system_reply {
    width: 80px;
}
div.select_create {
    float: left;
    width: 100%;
}
div.select_create select {
    width: 130px;
    float: left;
}
div.select_create div.iWant {
    float: right;
    margin-bottom: 20px;
    margin-right: 21px;
}
div.select_create div.iWant_su {
    width: 150px;
    float: right;
}
div.select_create div.iWant a {
    text-align: center;
    float: left;
    width: 100%;
    height: 20px;
    line-height: 20px;
    background-color: #EEEEEE;
    border: 1px solid #CCCCCC;
    color: #333333;
    padding: 1px 12px;
}
div.select_create div.iWant a:hover {

}
table.edit_success {
    float: left;
}
table.edit_success tr td {
    border: none;
}
table.edit_success tr td.text {
    text-align: left;
   padding-top: 50px;
}
table.edit_success tr td.image {
    width: 150px;
}
a.btn-info {
    float: left;
}
table.page {
    float: right;
}
table.page tr td {
    border-top: 1px solid #eee;
    text-align: center;
    padding:0 20px;
    border: none;
}
.modbox2 table.table tr td.message_time,.modbox2 table.table tr td.message_action {
    width: 150px;
}
.modbox2 table.table tr.no_read {
    background-color: #eee;
}
div.changeEmail {
    float: left;
    margin-left: 10px;
    margin-top: 5px;
}