div.movieList {
    width: 100%;
}
div.movieList div.actionList {
    width: 100%;
    float: left;
    margin-bottom: 20px;
}
ul li {
    float: left;
    list-style: none;
}
div.movieList div.actionList ul li {
    padding: 5px;
    cursor: pointer;
    margin-left: 10px;
    background-color: #F7F7F7;
    float: left;
    list-style: none;
}
div.movieList div.actionList ul li.desc {
    padding: 0;
    border: none;
    margin-left: 50px;
    margin-top: 3px;
    font-size: 12px;
}
div.movieList div.actionList ul li.desc select {
    width: 150px;
    margin: 0;
}
div.listTable {
    float: left;
    width: 100%;
}

div.movieList div.listTable table {
    float: left;
    width: 100%;
}

div.movieList div.listTable table tr span {
    cursor: pointer;
    color: #0054AF;
}

div.movieList div.listTable table tr th {
    border-top: 1px solid #aaa;
    padding: 10px 0;
}

div.movieList div.listTable table tr td {
    text-align: center;
    font-size: 13px;
    padding: 5px;
    border-bottom: 1px dashed #aaa;

}

div.movieList div.listTable table tr.lastOne td {
    border-bottom: 1px solid #aaa;
}

div.movieList div.listTable table tr.firstOne td {
    margin-top:20px;
    border-top: 1px solid #aaa;
}
div.movieList div.listTable table tr.firstOne td.dy_name {
    width: 200px;
}
div.movieList div.listTable table tr.firstOne td.zhuyan_info {
    width: 400px;
}
div.movieList div.listTable table tr .chose {
    width: 40px;
}

div.movieList div.listTable table input {
    width: 30px;
}
.bs-docs-example {
    float: left;
}
.btn-group {
    margin-top: 20px;
}
div.actionList ul {
    float: left;
    padding: 0;
    margin: 0;
}
div.searchUser {
    float: left;
    margin-top: 5px;
    margin-left: 20px;
}
div.searchUser input.submit {
    height: 33px;
    margin-top: -11px;
    width: 50px;
}
ul.movice_aciton {
    width: 100%;
}
div.movieList div.listTable table tr.error_tr {
    background-color: #FFE4E1;
}
i.no {
    color: #ff0000;
}