div.row {
    margin: 0 auto;
    width: 100%;
}
.bs-docs-example {
    width: 100%;
    float: left;
    margin-top: 0;
    padding: 0;
}
div.span3 {
    float: left;
    width: 120px;
    margin-top: 40px;
    margin-right: 20px;
    margin-left: 0;
}
ul.bs-docs-sidenav {
    float: left;
    width: 120px;
    text-align: center;
    font-weight: bold;
    margin-top: 0;
    position: fixed;
    filter:alpha(Opacity=60);
    -moz-opacity:0.6;
    opacity: 0.6;
    background: none;
}
ul.bs-docs-sidenav-over {
    opacity: 1;
    filter:alpha(Opacity=100);
    -moz-opacity:1;
}
ul.bs-docs-sidenav li a {
    color: #999;
    width: 90px;
    float: left;
}
ul.bs-docs-sidenav li a:hover {
    background-color: #0088CC;
    color: #fff;
}
div.dy_total {
    margin-top: 40px;
    float: left;
    width: 87%;
}
div.bs-docs-example div.dy_info_list {
    float: left;
    width: 100%;
    background-color: #fff;
}
div.bs-docs-example div.title {
    float: left;
    width: 100%;
    height: 40px;
    font-weight: bold;
    font-size: 20px;
    color: #777;
    background-color: #f5f5f5;
    background: url("/images/common/last_top.png") repeat-x scroll -2px 0;
}
div.bs-docs-example div.title h3 {
    float: left;
    font-size: 16px;
    padding: 0;
    margin: 0;
    margin-left: 30px;
    margin-top: 5px;
}
div.bs-docs-example div.dy_info_list ul.info_list {
    float: left;
    min-width: 96%;
    padding-bottom: 20px;
}
div.bs-docs-example div.dy_info_list ul.info_list li {
    float: left;
    position: relative;
    border: 1px solid #DDDDDD;
    padding: 10px 0 10px 5px;
    overflow: hidden;
    list-style: none;
    margin-right: 25px;
    margin-top: 10px;
    min-width: 30%;
    width: 30%;
}
div.bs-docs-example div.dy_info_list ul.info_list li.li_over {
    border: #D1EEEE solid 1px;
    cursor: pointer;
    background-color: #E0EEEE;
}
div.bs-docs-example div.dy_info_list ul.info_list li.li_over a.dy_name {
    color: #0088cc;
    text-decoration: underline;
}
div.bs-docs-example div.dy_info_list ul.info_list li a {
    margin-right: 10px;
}
div.bs-docs-example div.dy_info_list ul.info_list li div.dy_name_l {
    float: left;
    width: 50%;
    overflow: hidden;
    height: 100px;
    margin-left: 4px;
    position: relative;
}
div.bs-docs-example div.dy_info_list ul.info_list li div.dy_name_l img.dy_img {
    float: left;
    width: 100%;
    height: 80px;
}
div.bs-docs-example div.dy_info_list ul.info_list li div.dy_name_l span.shoucang_action {
    display: none;
    bottom: 18px;
    height: 15px;
    position: absolute;
    right: 0;
    width: 14px;
}
div.bs-docs-example div.dy_info_list ul.info_list li div.dy_name_l span.shoucang_dy {
    background: url("/images/common/dy_add.png") no-repeat scroll -29px 0 transparent;
}
div.bs-docs-example div.dy_info_list ul.info_list li div.dy_name_l span.shoucang_dy_y {
    background: url("/images/common/dy_add.png") no-repeat scroll -9px 0 transparent;
}


div.bs-docs-example div.dy_info_list ul.info_list li div.dy_jianjie {
    float: left;
    width: 43%;
    height: 108px;
    font-size: 13px;
    margin-left: 7px;
    overflow: hidden;
}
div.bs-docs-example div.dy_info_list ul.info_list li div.dy_jianjie table {
    background: none;
}
div.bs-docs-example div.dy_info_list ul.info_list li div.dy_jianjie table tr td.dy_jianjie_t {
    width: 50px;
    float: left;
}

div.bs-docs-example div.dy_info_list ul.info_list li div.dy_link_down {
    position: absolute;
    display: none;
    right: -137px;
    bottom: 0;
    width: 46%;
    height: 130px;
    font-size: 13px;
    margin-left: 7px;
    z-index: 1001;
    background-color: #E0EEEE;
}
div.bs-docs-example div.dy_info_list ul.info_list li div.dy_link_down div.dy_watch_down {
    float: left;
    width: 96%;
    height: 40px;
    color: #999;
    margin-top: 10px;
    margin-left: 7px;
}
div.bs-docs-example div.dy_info_list ul.info_list li div.dy_link_down div.dy_watch_down a{
    float: left;
    color: #444;
}
div.bs-docs-example div.dy_info_list ul.info_list li div.dy_link_down div.dy_watch_down div.watch_down {
    float: left;
    width: 40px;
    height: 100%;
}
div.bs-docs-example div.dy_info_list ul.info_list li div.dy_link_down div.dy_watch_down div a {
    float: left;
}
div.bs-docs-example div.dy_info_list ul.info_list li a.dy_name {
    font-size: 13px;
    font-weight: bold;
    color: #333;
    width: 100%;
    float: left;
    text-align: center;
    margin-top: 2px;
}
div.bs-docs-example div.dy_info_list ul.info_list li a.dy_name:hover {
    text-decoration: underline;
}
div.bs-docs-sidebar ul li a.click {
    color: #fff;
    background-color: #0088CC;
}