div.classmovice_list {
    float: left;
    width: 99%;
    border: 5px solid #eee;
    background-color: #fff;
    margin-top: 40px;
}
div.type_list {
    float: left;
    margin: 20px 50px;
    margin-left: 85px;
    width: 87%;
}
div.type_list div.item {
    font-size: 17px;
    float: left;
    width: 100%;
    padding: 8px 0;
    border-bottom: 1px solid #E6E6E6;
}
div.type_list div.item label {
    float: left;
    color: #808080;
    cursor: default;
}
div.type_list div.item ul {
    float: left;
    margin-left: 5px;
    margin-bottom: 0;
}
div.type_list div.item ul li {
    list-style: none;
    float: left;
    height: 20px;
    border-right: 1px solid #ddd;
}
div.type_list div.item ul li.active a {
    color: #fff;
    background-color: #2FA1AE;
}
div.type_list div.item ul li a {
    color: #010101;
    padding: 2px 8px;
    text-decoration: none;
}
div.type_list div.item ul li a:hover {
    color: #fff;
    background-color: #2FA1AE;
}
div.classmovice_list ul.list_info {
    float: left;
    margin: 50px 0 50px 35px;
    width: 96%;
}
div.classmovice_list ul.list_info li {
    float: left;
    list-style: none;
    width: 10%;
    overflow: hidden;
    margin-right: 1%;
    margin-bottom: 3%;
    padding: 5px;
    border: 2px solid #eee;
    height: 276px;
}
div.classmovice_list ul.list_info li img {
    width: 150px;
    height: 200px;
}
div.classmovice_list ul.list_info li div.title{
    margin-top: 5px;
    float: left;
    height: 20px;
    width: 100%;
    overflow: hidden;
}
div.page_info {
    width: 97%;
    float: left;
    padding: 30px 0;
}
table.page {
    background: none repeat scroll 0 0 transparent;
    margin: 0 auto;
}
div.dy_img {
    position: relative;
}
div.dy_img span.shoucang_action {
    display: none;
    bottom: 1px;
    height: 15px;
    position: absolute;
    right: 1px;
    width: 14px;
    cursor: pointer;
}
div.dy_img span.shoucang_dy {
    background: url("/images/common/dy_add.png") no-repeat scroll -29px 0 transparent;
}
div.dy_img span.shoucang_dy_y {
    background: url("/images/common/dy_add.png") no-repeat scroll -9px 0 transparent;
}