div.class_main {
    margin: 40px auto;
    width: 1200px;
}
div.class_main div.class_left {
    float: left;
    width: 140px;
    height: 1000px;
    padding: 10px;
    background: url("/images/common/paihang_sucai.png") no-repeat 150px 0 transparent;
}
div.class_main div.class_left li {
    float: left;
    width: 100%;
}
div.class_main div.class_left li.list {
    margin-bottom: 5px;
}
div.class_main div.class_left li.class_left_title {
    height: 40px;
}
div.class_main div.class_left li.title_top {
    background: url("/images/common/paihang_sucai.png") no-repeat -20px 0 transparent;
}
div.class_main div.class_left li.title_prize {
    margin-top: 50px;
    background: url("/images/common/paihang_sucai.png") no-repeat -20px -38px transparent;
}
div.class_main div.class_left li.class_left_fenge {
    padding: 5px 0;
    background: url("/images/common/paihang_sucai.png") no-repeat -20px -90px transparent;
    margin-bottom: 10px;
}
div.class_main div.class_left li a {
    float: left;
    width: 120px;
    height: 20px;
    line-height: 20px;
    padding: 10px;
    font-size: 18px;
    color: #454545;
}
div.class_main div.class_left li a:hover,div.class_main div.class_left li.current a {
    background-color: #08A6CD;
    color: #fff;
}
div.class_main div.class_left li a em{
    font-style: normal;
    font-size: 13px;
    margin-left: 5px;
    color: #999;
}
div.class_main div.class_left li a:hover em,div.class_main div.class_left li.current a em  {
    color: #fff;
}

div.class_main div.class_right {
    float: left;
    width: 940px;
    /*height: 1000px;*/
    margin-left: 40px;
    padding: 0 10px;
}
div.class_main div.class_right li {
    background-color: #FFFFFF;
    box-shadow: 2px 2px 3px #DDDDDD;
    float: left;
    margin-bottom: 20px;
    padding: 20px;
    width: 910px;
    position: relative;
}
div.class_main div.class_right li b {
    background: url("/images/common/shouye_new_sucai.png") no-repeat scroll -201px -9px transparent;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: bold;
    height: 36px;
    left: 0;
    line-height: 27px;
    position: absolute;
    text-align: center;
    top: -2px;
    width: 25px;
}
div.class_main div.class_right li:hover {
    box-shadow: 2px 2px 3px #08A6CD;
    background-color: #e0eeee;
    cursor: pointer;
}
div.class_main div.class_right li:hover div.class_dy_info div.class_dy_top a {
    color: #08A6CD;
}
div.class_main div.class_right li div.class_dy_info {
    float: left;
    width: 735px;
    margin-left: 20px;
}
div.class_main div.class_right li div.class_dy_info h1 {
    padding: 0;
    margin:0;
    color: #08A6CD;
    font-size: 25px;
    margin-bottom: 10px;
    float: left;
}
div.class_main div.class_right li div.class_dy_info div.class_dy_top a {
    color: #454545;
}
div.class_main div.class_right li div.class_dy_info div.class_dy_top {
    margin-top: 0;
}
div.class_main div.class_right li div.class_dy_info div.class_score {
    float: right;
    width: 150px;
}
div.class_main div.class_right li div.class_dy_info div.class_search {
    width: 200px;
}
div.class_main div.class_right li div.class_dy_info div.class_score i {
    color: #ff0000;
}
div.class_main div.class_right li div.class_dy_info div {
    width: 100%;
    float: left;
    margin-top: 10px;
    color: #999999;
}
div.class_main div.class_right li div.class_dy_info div span {
    margin-right: 10px;
    float: left;
}
div.class_main div.class_right li div.class_dy_info div span.jieshao {
    color: #454545;
    line-height: 20px;
    width: 675px;
}
div.class_main div.class_right li div.class_dy_info div span.jieshao a {
    color: #08A6CD;
}
div.class_main div.class_right li a.class_img {
    width: 150px;
    height: 220px;
    float: left;
    background-color: #eee;
}
div.class_main div.class_right li a.class_img img {
    width: 100%;
    height: 100%;
    float: left;
}
div.class_main div.class_right li div.class_dy_info div a {
    color: #454545;
}
div.class_main div.class_right li div.class_dy_info div a:hover {
    color: #08A6CD;
}