div.search_main  {
    width: 1170px;
    padding: 0 20px;
    margin: 0 auto;
}
/*左边检索框 start*/
div.search_left {
    float: left;
    width: 173px;
    height: 1080px;
    margin-left: 20px;
    border: 2px solid #ccc;
    background-color: #fff;
}
div.search_left ul {
    float: left;
    margin: 0;
    padding: 20px;
    background: url("/images/common/fenge.png") no-repeat transparent;
    background-position:bottom;
}
div.search_left ul.last_one {
    background: none;
}
div.search_left ul li {
    list-style: none;
    margin-top: 5px;
    margin-left: 10px;
    float: left;
    font-size: 14px;
}
div.search_left ul li.title_text {
    width: 110px;
    float: left;
    color: #bbb;
    margin-left: 10px;
}
div.search_left ul li a {
    padding: 5px;
    color: #757575;
    width: 42px;
    text-align: center;
    float: left;
    font-family: times new roman, Arial, Helv, Helvetica, sans-serif;
}
div.search_left ul li a:hover,div.search_left ul li.current a {
    background-color: #2fa1ae;
    color: #fff;
    text-decoration: none;
}
/*左边检索框 end*/

/*右边电影信息 start*/
div.search_dy_info {
    float: left;
    margin-left: 30px;
}
div.search_dy_info ul {
    float: left;
    margin-left: 20px;
}
div.search_dy_info ul li {
    list-style: none;
    width: 880px;
    height: 180px;
    padding: 15px 20px 25px 20px;
    background: url("/images/common/search_bg1.png") no-repeat transparent;
    margin-top: 8px;
}
div.search_dy_info ul li:hover {
    cursor: pointer;
    width: 878px;
    height: 178px;
    border: 1px solid #F3F3F3;
}
div.search_dy_info ul li.first_one,div.search_dy_info ul li.no_data {
    margin-top: 0;
}
div.search_dy_info ul li.no_data {
    cursor: default;
}
div.search_dy_info ul li.no_data div.error_imga {
    float: left;
    width: 200px;
    height: 178px;
}
div.search_dy_info ul li.no_data div.error_text {
    float: left;
    margin-top: 100px;
    font-size: 17px;
}
div.search_dy_img {
    width: 140px;
    height: 180px;
    float: left;
    background-color: #eee;
}
div.search_dy_img img {
    float: left;
    width: 100%;
    height: 100%;
}
div.search_dy_detail {
    float: left;
    margin-left: 20px;
    margin-top: 8px;
}
div.search_dy_detail p {
    width: 700px;
    margin-bottom: 5px;
    font-size: 14px;
}
div.search_dy_detail p.zhuyan {
    height: 20px;
    overflow: hidden;
}
div.search_dy_detail p span {
    color: #757575;
}
div.search_dy_detail p em {
    font-style: normal;
    color: #ee6100;
}
div.search_dy_detail p a {
    text-decoration: none;
    color: #757575;
}
div.search_dy_detail p a:hover {
    text-decoration: underline;
}
div.search_dy_detail p.title {
    font-size: 24px;
    margin-bottom: 10px;
}
div.search_dy_detail p {
    margin: 0;
    padding: 0;
}
div.search_dy_detail p.title span.nianfen{
    font-size: 14px;
    margin-left: 30px;
}
div.search_dy_detail p.title span.down_link {
    color: #08A6CD;
}
div.search_dy_detail p.jianjie {
    height: 55px;
    overflow: hidden;
}
div.search_dy_detail p.watch_link a {
    float: left;
    height: 20px;
    margin-right: 10px;
    /*width: 70px;*/
}
/*右边电影信息 end*/
/* 顶部人物信息展示 start */
div.peopel_info_list {
    cursor: pointer;
    float: left;
    width: 1180px;
    height: 330px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    border-radius: 3px 3px 3px 3px;
    background-color: #e6e6e6;
}
div.peopel_img {
    float: left;
    width: 230px;
    height: 320px;
    border-radius: 3px 3px 3px 3px;
    padding: 5px;
    background-color: #fff;
}
div.peopel_img a {
    float: left;
    width: 100%;
    height: 100%;
}
div.peopel_img a img {
    float: left;
    width: 100%;
    height: 100%;
}
div.people_detail_info {
    float: left;
    padding: 10px;
    width: 900px;
}
div.people_detail_info dl {
    padding: 0;
    margin: 0;
    float: left;
}
div.people_detail_info dl dt {
    color: #444;
    font-size: 18px;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
}
div.people_detail_info dl dt a {
    color: #444;
}
div.people_detail_info dl dt a:hover {
    text-decoration: underline;
}
div.people_detail_info dl dd {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 13px;
    color: #808080;
    margin-top: 10px;
}
div.people_detail_info dl dd div.dy_list {
    float: left;
    width: 100%;
}
div.people_detail_info dl dd div.dy_list ul {
    float: left;
    width: 100%;
}
div.people_detail_info dl dd div.dy_list ul li {
    float: left;
    width: 100px;
    height: 115px;
    position: relative;
    padding: 5px;
    margin-right: 10px;
}
div.people_detail_info dl dd div.dy_list ul li a {
    float: left;
    width: 100%;
    height: 100%;
    background-color: #fff;
}
div.people_detail_info dl dd div.dy_list ul li a img {
    float: left;
    width: 100%;
    height: 100%;
}
div.people_detail_info dl dd div.dy_list ul li span {
    width: 90px;
    padding: 0 5px;
    height: 20px;
    line-height: 20px;
    bottom: 0;
    left: 5px;
    position: absolute;
    z-index: 10;
    overflow: hidden;
    background-color: #000;
    filter:alpha(Opacity=80);
    -moz-opacity:0.8;
    opacity: 0.8;
}
/* 顶部人物信息展示 end */