body {
    height: 470px;
}
div.container {
    height: 100%;
    position: relative;
}
div.play_left {
    position: fixed;
    left: 0;
    top: 0;
    width: 150px;
    height: 100%;
    background: url("/images/common/play_left_bg.gif") repeat transparent;
    z-index: 100202;
}

div.play_left div.left_logo {
    width: 100%;
    height: 65px;
    padding: 20px 0;
    float: left;
    background-color: #000;
}
div.play_left div.left_logo a {
    float: left;
    width: 100%;
    height: 100%;
    background: url("/images/common/shouye_new_sucai.png") repeat scroll -3px -218px transparent;
}

div.play_left div.play_dy_info {
    float: left;
    padding: 10px;
    width: 130px;
}
div.play_left div.play_dy_info a.play_button {
    position: absolute;
    width: 19px;
    height: 106px;
    left: 143px;
    top: 35%;
    background: url("/images/common/play_button.png") -17px 0 transparent;
    z-index: 1000187;
}
div.play_left div.play_dy_info a.play_button:hover {
    background: url("/images/common/play_button.png") 1px 0 transparent;
}
div.play_left div.play_dy_info a.hide {
    position: absolute;
    width: 19px;
    height: 106px;
    left: 143px;
    top: 35%;
    background: url("/images/common/play_button.png") -53px 0 transparent;
    z-index: 1000187;
}
div.play_left div.play_dy_info a.hide:hover {
    background: url("/images/common/play_button.png") -35px 0 transparent;
}
div.play_left div.play_dy_info h1 {
    float: left;
    margin: 0;
    padding: 0;
    font-size: 20px;
    width: 100%;
    margin-bottom: 10px;
}
div.play_left div.play_dy_info a {
    color: #999;
    float: left;
    width: 100%;
}
div.play_left div.play_dy_info div.play_dy_info_img a {
    width: 100%;
    float: left;
    height: 140px;
    background-color: #fff;
}
div.play_left div.play_dy_info div.play_dy_info_img a img {
    float: left;
    width: 100%;
    height: 100%;
}

div.play_left div.play_link_list {
    float: left;
    width: 130px;
    padding: 10px;
}
div.play_left div.play_action_list {
    float: left;
    width: 130px;
    padding: 10px;
}
div.play_left div.play_link_list ul {
    float: left;
    width: 100%;
}

div.play_left div.play_link_list ul li {
    float: left;
    width: 120px;
    margin-bottom: 10px;
    height: 22px;
    overflow: hidden;
    white-space:nowrap;
}
div.play_left div.play_link_list ul li.link_title {
    color: #0088CC;
    margin-bottom: 5px;
    background: none;
    cursor: default;
}
div.play_left div.play_link_list ul li.play_bottom {
    border-top: 1px dashed #666;
    height: 2px;
}
div.play_left div.play_link_list ul li a {
    float: left;
    width: 100%;
    height: 22px;
    overflow: hidden;
    line-height: 22px;
    font-size: 14px;
    color: #666;
}
div.play_left div.play_link_list ul li a:hover {
    color: #0088CC;
}
div.play_left div.play_link_list ul li a span {
    margin-top: 10px;
}

div.play_left div.play_action_list li {
    float: left;
}
div.play_left div.play_action_list li a {
    color: #666;
}

div.play_main {
    margin-left: 0;
    height: 1000px;
    width: 100%;
}
#iframepage {
    border: 0 none;
    vertical-align: top;
    width: 100%;
    height: 100%;
}
div.play_bottom {
    position: fixed;
    background-color: #ddd;
    bottom: 0;
    height: 40px;
    width: 100%;
    z-index: 100109;
    padding: 10px 0;
}
div.play_bottom ul {
    margin: 0 auto;
    width: 500px;
}
div.play_bottom ul li {
    float: left;
}
div.play_bottom ul li a {
    background-color: #eee;
    border: 1px solid #aaa;
    float: left;
    margin-left: 5px;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
}
#bdshare_l, #bdshare_m {
    z-index: 1000010101;
}