/*搜索框*/
ul li.search {
    width: 190px;
    height: 25px;
    float: right;
    background: url("/images/head/search7.png") repeat scroll 0 -35px transparent;
    margin-top: 8px;
}

ul li.search input.search_value {
    border: medium none;
    float: left;
    height: 20px;
    margin-left: 7px;
    margin-top: 2px;
    padding: 1px 5px;
    width: 146px;
    font-size: 13px;
    color: #aaa;
    border: none;
}
ul li.search input.submit {
    border: none;
    float: left;
    width: 20px;
    height: 20px;
    padding: 12px;
    cursor: pointer;
    background: url("/images/head/fangda.png") no-repeat scroll 4px -20px transparent;
}
ul li.login_register {
    float: right;
}
.top_head,.top_head:after {
    *float: left;
    *margin-left: 80px;
    width: 1170px;
}
.top_head a.brand {
    float: right;
}
div.head_top_menus ul.nav li.dy_sort {
    border: 1px solid #1B1B1B;
    border-bottom: none;
    border-top: none;
}
div.head_top_menus ul.nav li.show_sort {
    position: relative;
    background-color: #FFF;
    border-color: #eee;
}
div.head_top_menus ul.nav  li.show_sort a,div.head_top_menus ul.nav  li.show_sort a:hover{
    background-color: #FFF;
    color: #000;
}
div.head_top_menus ul.nav  li.dy_sort div.dy_type_list{
    display: none;
    position: absolute;
    left: -1px;
    top: 35px;
    height: 100px;
    width: 400px;
    background-color: #FFF;
    z-index: 100;
    border: 1px solid #eee;
    border-top: none;
}
div.head_top_menus ul.nav li.dy_sort div.dy_type_list table {
    margin: 10px;
}
div.head_top_menus ul.nav li.dy_sort div.dy_type_list table tr th,div.head_top_menus ul.nav  li.dy_sort div.dy_type_list table tr td {
    border: none;
    line-height: 10px;
}
div.head_top_menus ul.nav li.dy_sort div.dy_type_list table tr td a.active {
    color: #0088CC;
}
div.head_top_menus ul.nav li.dy_sort div.dy_type_list table tr td a{
    font-size: 13px;
}
div.head_top_menus ul.nav li.dy_sort div.dy_type_list table tr td a:hover {
    color:#0088CC ;
    font-size:13px ;
}
a.enable,a.enable:hover {
    color: #999;
    cursor: default;
}
.bs-docs-sidenav.affix-bottom {
    position: relative;
}
.navbar .navbar-inner a {
    font-size: 17px;
}
div.head_top_menus ul.nav li.username {
    margin-left: 180px;
    position: relative;
    padding-right: 20px;
}
div.head_top_menus ul.nav li.username a {
    font-size: 13px;
}
ul li.username a i {
    margin-top: 2px;
    margin-right: 5px;
}
div.head_top_menus ul.nav li.username div.user_in{
    display: none;
    position: absolute;
    left: 5px;
    top: 0;
    background-color: #fff;
    height: 168px;
    min-width: 115px;
    border: 1px solid #eee;
    border-top: none;
}
div.head_top_menus ul.nav li.username div.user_in table.table tr td {
    line-height: 5px;
    padding-left: 10px;
}
div.head_top_menus ul.nav li.username div.user_in table.table tr td a {
    color: #333;
}