body{
    background: url("/images/common/pattern.png") repeat 0 0 transparent;
    font-family:"微软雅黑";
}
table,div.bs-docs-sidebar ul li a{
    background-color: #fff;
}
.navbar .nav {
    float: left;
    width: 100%;
    /*min-width: 92%;*/
}
ul.nav li.loginr a{
    font-size: 13px;
}
/*搜索框*/
ul li.search {
    width: 190px;
    height: 25px;
    float: right;
    background: url("/images/head/search7.png") repeat scroll 0 -35px transparent;
    margin-top: 8px;
    position: relative;
}

ul li.search div.about_search {
    display: none;
    position: absolute;
    top: 24px;
    border: 1px solid #aaa;
    border-top: none;
    z-index: 99999;
    background-color: #fff;
    left: 9px;
    top: 24px;
    width: 171px;
    overflow: hidden;
    z-index: 99999;
}
ul li.search div.about_search span {
    float: left;
    width: 91%;
    cursor: pointer;
    margin: 5px 3px;
    padding-left: 10px;
    color: #999;
}
ul li.search div.about_search span:hover {
    background-color: #eee;
    color: #0088cc;
}

ul li.search input.search_value {
    border: medium none;
    float: left;
    height: 20px;
    margin-left: 7px;
    margin-top: 2px;
    padding: 1px 5px;
    width: 146px;
    font-size: 13px;
    color: #aaa;
}
ul li.search input.submit {
    border: none;
    float: left;
    width: 20px;
    height: 20px;
    padding: 12px;
    cursor: pointer;
    background: url("/images/head/fangda.png") no-repeat scroll 4px -20px transparent;
}
ul li.login_register {
    float: right;
}
div.top_head,.top_head:after {
    margin: 0 auto;
    *margin-left: 80px;
    width: 95%;
}
.navbar-inner .container {
    width: 92%;
}
div.top_head a.brand {
    float: right;
}
div.head_top_menus ul.nav li.dy_sort {
    border: 1px solid #1B1B1B;
    border-bottom: none;
    border-top: none;
}
div.head_top_menus ul.nav li.show_sort {
    position: relative;
    background-color: #FFF;
    border-color: #eee;
}
div.head_top_menus ul.nav  li.show_sort a,div.head_top_menus ul.nav  li.show_sort a:hover{
    background-color: #FFF;
    color: #000;
}
div.head_top_menus ul.nav  li.dy_sort div.dy_type_list{
    display: none;
    position: absolute;
    left: -1px;
    top: 35px;
    height: 100px;
    width: 650px;
    background:none repeat scroll 0 0 #FFFFFF;
    z-index: 1000;
    border: 1px solid #eee;
    border-top: none;
    opacity:1;
}
div.head_top_menus ul.nav li.dy_sort div.dy_type_list table {
    margin: 10px;
    width: 97%;
    opacity:1;
}
div.head_top_menus ul.nav li.dy_sort div.dy_type_list table tr th,div.head_top_menus ul.nav  li.dy_sort div.dy_type_list table tr td {
    border: none;
    line-height: 10px;
}
div.head_top_menus ul.nav li.dy_sort div.dy_type_list table tr td a.active {
    color: #0088CC;
}
div.head_top_menus ul.nav li.dy_sort div.dy_type_list table tr td a{
    font-size: 13px;
}
div.head_top_menus ul.nav li.dy_sort div.dy_type_list table tr td a:hover {
    color:#0088CC ;
    font-size:13px ;
}
a.enable,a.enable:hover {
    color: #999;
    cursor: default;
}
.bs-docs-sidenav.affix-bottom {
    position: relative;
}
.navbar .navbar-inner a {
    font-size: 17px;
}
div.head_top_menus ul.nav li.username {
    position: relative;
    padding-right: 20px;
}
div.head_top_menus ul.nav li.username a {
    font-size: 13px;
}
ul li.username a i {
    margin-top: 2px;
    margin-right: 5px;
}
div.head_top_menus ul.nav li.username div.user_in{
    display: none;
    position: absolute;
    left: 5px;
    top: 0;
    background-color: #fff;
    height: 420%;
    *height: 450%;
    width: 84%;
    border: 1px solid #eee;
    border-top: none;
}
div.head_top_menus ul.nav li.username div.user_in table.table tr td {
    line-height: 5px;
    padding-left: 10px;
}
div.head_top_menus ul.nav li.username div.user_in table.table tr td a {
    color: #333;
    float: left;
}
div.user_in table.table {
    margin-left: 0;
    margin-bottom: 0;
}
div.user_in table.table tr td {
    border-top: 1px solid #ddd;
}
div.head_top_menus ul.nav li.username a.message {
    background: url("/images/common/user_c.png") no-repeat scroll 5px 5px transparent;
    /*padding: 2px 10px;*/
    width: 22px;
    height: 19px;
}
div.head_top_menus ul.nav li.username a.icon-envelope {
    margin-left: 7px;
}
.navbar-inverse .navbar-inner {
    border-bottom: 2px solid #FF6600;
}
.footer {
    height: 200px;
    border-top: 2px solid #FF6600;
    background: url("/images/common/body_b.png") repeat;
}
.footer a:link,.footer a:visited,.footer a:active {
    color: #0088CC;
}
header.jumbotron {
    min-width: 100%;
    float: left;
}
div.container {
    width: 92%;
    min-width: 1130px;
}
a.go_to_top {
    display: none;
    position: fixed;
    width: 48px;
    right: 6px;
    bottom: 100px;
    cursor: pointer;
    height: 48px;
    background: url("/images/common/go_top.png") no-repeat -3px 0 transparent;
    z-index: 9999;
}
a.go_to_top:hover {
    background-position: -3px -100px;
}
div.research_main {
    width: 100%;
    height: 100%;
    position: absolute;
    filter:alpha(Opacity=50);
    -moz-opacity:0.5;
    opacity: 0.5;
    z-index: 1000;
    left: 0;
    top: 0;
    background-color: #EEEEEE;
}
div.research_table {
    background-color: #FFFFFF;
    left: 30%;
    opacity: 1;
    position: fixed;
    top: 100px;
    width: 600px;
    z-index: 1001;
}
div.research_table .research_table_info {
    background-color: #fff;
    float: left;
    width: 100%;
    border: 5px solid #ddd;
}
div.research_table .research_table_info tr {
    float: left;
}
div.research_table .research_table_info tr.close_tr {
    width: 97%;
}
div.research_table .research_table_info tr.research_text_tr {
    width: 68%;
}
div.research_table .research_table_info tr td {
    padding: 20px;
    float: left;
    line-height: 25px;
}
div.research_table .research_table_info tr td.close {
    padding: 5px 10px;
    width: 100%;
}
div.research_table .research_table_info tr td.close span.close_research {
    float: right;
}
div.research_table .research_table_info tr td.research_text {
    width: 95%;
    padding-top: 0;
}
div.research_table .research_table_info tr.research_botton_tr {
    width: 70%;
}
div.research_table .research_table_info tr td.research_botton {
    padding-top: 0;
    float: right;
}
div.research_table .research_table_info tr td.research_botton a {
    margin-left: 20px;
    color: #fff;
}