div.help_daohang {
    float: left;
    margin-top: 40px;
    margin-left: 80px;
    position: fixed;
    border: 1px solid #C2E4FF;
    border-right: none;
    width: 150px;
}
div.help_daohang ul {
    float: left;
    margin: 0;
    padding: 0;
}
div.help_daohang ul li {
    background: none repeat scroll 0 0 #FFFFFF;
    border-top: 1px dashed #C2E4FF;
    float: left;
    list-style: none outside none;
    /*padding: 10px;*/
    text-align: center;
    width: 150px;
}
div.help_daohang ul li:hover {
    background-color: #08a6cd;
}
div.help_daohang ul li:hover a {
    color: #fff;
    text-decoration: none;
}
div.help_daohang ul li a {
    float: left;
    height: 100%;
    padding: 10px;
    text-decoration: none;
    width: 130px;
}
div.help_daohang ul li.fisrt_one {
    border-top: none;
}
div.help_daohang ul li.current {
    background-color: #08a6cd;
}
div.help_daohang ul li.current a {
    text-decoration: none;
    font: 15px;
    font-weight: bold;
    color: #000;
    color: #fff;
}
div.help_content {
    margin-top: 40px;
    float: left;
    width: 70%;
    border: 1px solid #C2E4FF;
    padding: 20px 50px;
    margin-left: 231px;
    background: none repeat scroll 0 0 #fff;
    min-height: 500px;
}